services:
  # we have keycloak and the users database seperately
  # kc-db
  kc-db:
    image: postgres
    volumes:
      - kc-db-data:/var/lib/postgresql/kc-data
    environment:
      POSTGRES_DB: ${KC_DB_NAME}
      POSTGRES_USER: ${KC_DB_USER}
      POSTGRES_PASSWORD: ${KC_DB_PASSWORD}
  # kc
  kc:
    image: quay.io/keycloak/keycloak:legacy
    environment:
      DB_VENDOR: POSTGRES
      DB_ADDR: kc-db
      DB_DATABASE: ${KC_DB_NAME}
      DB_USER: ${KC_DB_USER}
      DB_PASSWORD: ${KC_DB_PASSWORD}
      DB_SCHEMA: public
      KEYCLOAK_USER: ${KEYCLOAK_USER}
      KEYCLOAK_PASSWORD: ${KEYCLOAK_PASSWORD}
    ports: 
    -  "${KEYCLOAK_PORT}:8080"
    depends_on:
      - kc-db
  


  # we have the main database containing all of our useful data
  # api-db:
  #   image: postgres
  #   volumes: 
  #     - api-db-data:/var/lib/postgresql/api-data
  #   environment:
  #     POSTGRES_DB: apidb
  #     POSTGRES_USER: admin
  #     POSTGRES_PASSWORD: admin

  # we will have each service

volumes:
  kc-db-data:
    driver: local
  api-db-data:
    driver: local