services:
  # we have keycloak and the users database seperately
  # kc-db
  kc-db:
    image: postgres:16
    environment:
      POSTGRES_DB: ${KC_DB_NAME}
      POSTGRES_USER: ${KC_DB_USER}
      POSTGRES_PASSWORD: ${KC_DB_PASSWORD}
    volumes:
      - kc-db-data:/var/lib/postgresql/data
  # kc
  kc:
    image: quay.io/keycloak/keycloak:26.5.0
    depends_on:
      - kc-db
    ports: 
    -  "${KEYCLOAK_PORT}:8080"
    environment:
      KC_DB: postgres
      KC_DB_URL_HOST: kc-db
      KC_DB_URL_DATABASE: ${KC_DB_NAME}
      KC_DB_USERNAME: ${KC_DB_USER}
      KC_DB_PASSWORD: ${KC_DB_PASSWORD}

      KC_BOOTSTRAP_ADMIN_USERNAME: ${KEYCLOAK_USER}
      KC_BOOTSTRAP_ADMIN_PASSWORD: ${KEYCLOAK_PASSWORD}

      # dev
      KC_HTTP_ENABLED: "true"
      KC_HOSTNAME_STRICT: "false"
    command: ["start-dev"]


  # we have the main database containing all of our useful data
  api-db:
    image: postgres:16
    command: ["postgres", "-p", "5432"]
    volumes: 
      - api-db-data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"

  # we will have each service

volumes:
  kc-db-data:
    driver: local
  api-db-data:
    driver: local